// Global process config (applies regardless of profile)
process {
  withLabel: gpu_mace_run {
    executor = 'slurm'
    queue = 'standard-g'
    cpus = 32
    memory = '64 GB'
    clusterOptions = '--account=project_462000838 --nodes=1 --gpus-per-node=1 --ntasks-per-node=1 --cpus-per-task=32 --time=02:00:00'
  }

  withLabel: gpu_mace_train {
    executor = 'slurm'
    queue = 'standard-g'
    cpus = 32
    memory = '32 GB'
    clusterOptions = '--account=project_462000838 --nodes=1 --gpus-per-node=1 --ntasks-per-node=1 --cpus-per-task=32 --time=02:00:00'
  }

  withLabel: cp2k_farming {
    executor = 'slurm'
    queue = 'standard'
    cpus = 512
    clusterOptions = '--account=project_462000838 --nodes=4 --exclusive --no-requeue --ntasks-per-node=64 --cpus-per-task=2 --time=04:30:00'
  }

  withLabel: local {
    executor = 'local'
  }

 // withName: runMACE {
    //publishDir =  [path: 'results/runMACE', mode: 'copy']
//  }
  
 // withName: calcREF {
    //publishDir =  [path: 'results/calcREF', mode: 'copy']
//  }     
}
