params {

  system = "TDMAS_SiO2"
  run_name = "tdmas_sio2_debug"
  env_path = "/project/project_462001097/container_wrapper/mace_env_cueq/"
  
  omp_threads_gpu = 4
  omp_threads_cpu = 64


  mtd {
    timestep  = 1.0
    temperature = 400
    kappa = 150
    wall_pos = 0.15
    pace = 400
    height = 4.0
    z_threshold = 7.5
    sigma1 = 0.1
    sigma2 = 0.2
    biasfactor = 5
    nsteps = 10000
    variance_limit = 0.0015
    force_variance_limit
    interval = 1
    stride = 10
    c1_threshold = 0.0
    c2_threshold = 3.8
  }

  extract {
    delta = 0.3
    cv = 2
    padding = 200
    persist = 1
    pre_frames = 100
    post_frames = 100
    form_scale = 1.10
    break_scale = 1.7
    min_spacing = 5
    zmin = 10.0
    max_reactions = 10
    debug = true
  }

  neb {
    z_threshold = 7.5
    n_images = 8
    n_images_eval = 10
  }

  filtering {
    descriptor_threshold = 5
    max_structures = 100
  }

  cp2k {
    omp_threads = 2
  }

  retrain {
    valid_fraction = 0.05
    atomic_numbers = [1, 6, 7, 8, 14]
    E0s = {1:-13.55946263, 6:-157.53735191, 7:-265.91593046, 8:-431.59585675, 14:-102.46189747}
    batch_size = 2
    max_num_epochs = 50
    num_samples_pt = 1000
    multiheads_finetuning = true
    energy_key = "REF_energy"
    forces_key = "REF_forces"
    stress_weight = 0
    forces_weight = 10
    energy_weight = 1
    hidden_irreps = "128x0e + 128x1o"
    r_max = 6.0
    foundation_filter_elements = true
    filter_type_pt = "combinations"
    pt_train_file = "mp"
    swa = true
    swa_energy_weight = 10.0
    swa_forces_weight = 100
    swa_stress_weight = 0
    device = "cuda"

    # CPU threads (for data preprocessing)
    omp_threads = 4
  }  
  

}
